$body-bg: rgb(218, 243, 245);

$cellDim: 20px;

.cell {
  height: $cellDim;
  width: $cellDim;
  padding: 0%;
}
.cellDiv {
  padding: 0%;
  height: $cellDim;
  width: $cellDim;
}

.grid {
  padding: 0%;
}

td {
  padding: 0%;
}
@import "~bootstrap/scss/bootstrap";
